@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.logo {}

.container {
    max-width: 1400px;
    /* define o amanho maxima do container*/
    padding: 0 2%;
    margin: 0 auto;
    max-height: 1200px;
    display: flex;
    justify-content: space-between;

    /* minha edição */
}

.navbar ul {
    /* chamando a lista inteira */
    list-style-type: none;
    display: flex;
}

.navbar li {
    /* chamando cada li dentro do UL */
    /* define como cada elemento dentro da lista irá ficar na posição, nesse caso horizontal */
    margin: 0 12px;
    font-size: 15px;
    padding: 30px;
}

.navbar a {
    text-decoration: none;
    opacity: 0.8;
    color: #000000;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.navbar a:hover {
    /* utilizada para realizar ações após o mouse passar por cima  */
    color: #da5f17;
    transition: 800ms;
}

.chamada {
    margin-top: 30px;
    margin-left: 55px;
    font-family: 'Roboto', sans-serif;
}

.chamada h1 {
    font-size: 45px;
}

.imagem-chamada {
    float: right;
}

.imagem-chamada {
    position: relative;
    right: -100%;
    /* Inicia fora da tela à direita */
    animation-name: entrada-esquerda;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* Suaviza a animação de entrada */
    animation-fill-mode: forwards;
    /* Mantém a posição final da animação */
    opacity: 0;
    /* Inicia com opacidade 0 */
}

@keyframes entrada-esquerda {
    0% {
        right: -100%;
        /* Começa fora da tela à direita */
        opacity: 0;
        /* Começa com opacidade 0 */
    }

    100% {
        right: 0;
        /* Termina na posição original */
        opacity: 1;
        /* Termina com opacidade total */
    }
}